<style>

	.button-container {
	  display: flex;
	  flex-wrap: nowrap;
	}
	
	
	.button {
	  margin: 0 5px;
	  border-radius: 10px;
	
	}
	
	.custom-button {
		border-radius: 5px;
		border: 1px solid white;
		color: white;
		float: left;
		margin-right: 10px; /* add space between buttons */
		width: 100px;
	  height: 50px;
	  font-size: 15px;
	
	}
	.jsongen {
		border-radius: 5px;
		border: 1px solid white;
		color: white;
		width: 300px;
	  height: 50px;
	  font-size: 15px;
	
	}
	
	
	.inputt{
	  margin-right: 10px;
	}
	</style>
	



  
  <div class="row mt-3">
	<div class="col-12 mb-5">
	  
		<form>
				<label for="inputdefault"></label>
				<input [(ngModel)]="buttonName" name="buttonName" class="inputt" placeholder="Label name"  >
				<button (click)="addButton()" class="btn btn-dark">Add Label</button>
		</form>
		<br>
		
		<div class="button-container">
		<div *ngFor="let button of buttons">
			<button class="custom-button"
			 [style.background-color]="button.color"
			 (click)="addAnnotation(button.name, button.color)">{{ button.name }}</button>
		</div>
		</div>
	  
	  
	</div>
	<textarea class="txr" [(ngModel)]="text"></textarea>
  </div>
  <br>
  <br>
  
  <div class="row">
	<div class="col-12">
	  <h1 class="mb-5 display-7">The Text : </h1>

	  <ngx-annotate-text
		[(annotations)]="annotations"
		[removable]="true"
		[text]="text"
		annotationClass="my-annotation"
		#annotateText
	  >
	  </ngx-annotate-text>
	</div>
  </div>

<br>
<br>
  <div class="row">
	<div class="col-12">
	  <h2 class="mb-3 display-6">Annotations : </h2>
  
	  <ul class="list-group">
		<li class="list-group-item" *ngFor="let a of annotations">
		  start: {{ a.startIndex }}, end: {{ a.endIndex }}, text: "{{ a.text }}",
		  label: {{ a.label }}
		</li>
	  </ul>
	</div>

	<button class="btn btn-danger mt-5 mb-10 jsongen " (click)="generateJSON()">Generate JSON</button>
	<br>
	<br>
	<br>
  </div>
  